html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #66cdab65;
}

header, footer {
    background-color: black;
    padding: 5px 5px 0px;  /*lo ignora el explorador*/
}


h1 {
    color: white;
    text-align: center;
    line-height: 0em;
    font-family: "Pinyon Script";
}

h2 {
    color: white;
    line-height: 0em;
}

.peggy {
    font-size: 4rem;
}


h4 {
    color: white;
    text-align: center;
    padding-top: 0.1;
}

.nav, a.nav {
    outline: none;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(179, 175, 175) ;
    margin: 5px 3px 0px 0px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
    color: white;
}

.nav:first-child {
    margin-left: 0.25em
}

.nav:link {
    color: white;
}

.nav:visited {
    color: white;
}

.nav:focus {
    background-color:rgb(133, 131, 131) ;
}

.nav:hover {
    background-color:rgb(151, 147, 147)  ;
}

.nav:active {
    color: rgb(175, 25, 25);
}

.footer-text {
    text-align: center;
    color: white;
    vertical-align: middle;
}
.fa-icon {
    font-size: 18px;
    color: red;
}
/* .center {
    text-align: center;
    color: white;
} */