html {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: black;
    padding: 2 2 2 2;
    /* padding-left: 1em;
    padding-right: 1em; */
    line-height: 1.5;
}

h1 {
    color: white;
    text-align: center;
}

.nav {
    outline: none;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(179, 175, 175) ;
    margin-right: 0.5 em;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
    color: white;
}


/* a {
    outline: none;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(179, 175, 175) ;
    margin-right: 0.5 em;

    border-radius: 4px;
} */

a:first-child {
    margin-left: 0.25em
}

a:link {
    color: white;
}

/* a:visited {
    color: white;
} */

/* a:focus {
    background-color:rgb(151, 147, 147) ;
}

a:hover {
    background-color:rgb(151, 147, 147)  ;
}

a:active {
    color: rgb(175, 25, 25);
}  */

